* {
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
}

.wrapper {
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

a {
  color: white;
  text-decoration: none;
}

.nav-button {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #202020;
}

.btn-box {
  display: flex;
  gap: 24px;
}

main {
  margin-top: 200px;
  margin-bottom: 150px;
  display: flex;
  justify-content: center;
}

.info-section {
  display: flex;
  gap: 54px;
}

h3 {
  font-size: 24px;
}

p {
  color: #8b8b8b;
}

.order-btn {
  height: 44px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: #0081ff;
  color: white;
  font-weight: bold;
  padding: 12px 24px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
